/* font-family: 'Cormorant Garamond', serif;
font-family: 'Rubik', sans-serif; */

html {
font-size: 20px;
}

body {
  width: 700px;
  margin: 20px auto;
  background-color: #E3AD16;
  font-family: 'Cormorant Garamond', serif;
}

nav {
  color: #E3AD16;
  background-color: #000000;
  padding: 2rem auto;
  display: block;
}

nav a {
  color: #E3AD16;
}

a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-weight: 700;
  font-style: italic;
}

ul, ol {
  list-style-type: none;
}

li {
  list-style-type: none;
  font-style: italic;
}

ol li {
  text-transform: uppercase;
}
